@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<div class="col-lg-12">
    <h1 class="page-header" style="text-align: center;">@ViewBag.Title</h1>



    <div class="row">
        <div class="col-md-3 col-sm-3">
            <img class="img img-responsive photo" style="border-radius: 8%;" src="~/images/insurance.jpg" alt="Insurance">
        </div>
        <div class="col-md-9 col-sm-9">
            <p>
                Hi my real name is John Rumour. I've been learning astrology for last 20 years. Yeah, that's true. Sometimes I used to think this is all bullshit. But still I love doing more research on this. Do you know why? I don't know. May be I don't know how to pass time other ways. I've predicted the future for Bill Clinton, George Bush and Osama Binladen. Everything happened as I said. I've even predicted the future for me and unfortunately it's not going like that way.. he hee.
            </p>

        </div>
    </div>
</div>
